body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.hidden {
    display: none;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


.top-bar {
    background-color: #1531ab;
    padding: 10px 75px;
}

a#top-bar-login {
    color: white;
}

.bg-light {
    background-color: #fefefe!important;
}

.navbar {
    padding: 0;
}
#nav_width_wrapper {
    width: 100%;
    padding: 0 75px;
}

.navbar-brand {
    padding: 0;
}

#main-nav div, #main-nav a {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
}

#main-nav div:hover, #main-nav > a:hover {
    background-color: #1838c2;
    text-decoration: none;
}

#main-nav div ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 48px;
    left: -2px;
    background-color: #1531ab;
    z-index: 100;
    font-size: .8em;
    min-width: 100%;
    padding: 0;
    border-top: 2px solid white;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    -o-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

#main-nav div ul li a {
    white-space: nowrap;
}

#main-nav div ul li{
    list-style: none;
    padding: 7px 10px;
    border:0 none;
    border-top:1px solid #c9c9c9;
}

#main-nav div:hover > ul {
    visibility:visible;
    opacity:1;
    position: absolute;
    top: 48px;

}

#main-nav div ul li:hover {
    background-color: #1838c2;
    text-decoration: none;
}

#main-nav div ul li:hover a{
    text-decoration: none;
}

#nav-collapse-closebtn {
    display: none;
}

#side-search-block {
    display: none;
}


.navbar-brand span {
    display: none;
}

#side-bar-donate, #side-bar-login {
    display: none;
}

.form-control.search-box {
    height: calc(1.5em + .4rem + 2px);
    border: 1px solid #1531ab;
    border-radius: 0;
}

.btn-light.search-icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/search-icon1.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 40px 40px;
    border: none;
    cursor: pointer;
}

.btn-outline-primary {
    color: #1531ab;
    border-color: #1531ab;
}
.btn, .btn-sm {
    border-radius: 0;
}

.btn-light.search-icon:hover {
    color: #121212;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

#main-nav {
    font-size: 1.2em;
    padding: 0px 75px;
    background-color: #1531ab;
    color: white;
}

#main-nav a{
    color: white;
}

footer {
    border-top: 1px solid lightgray;
}

#footer-link {
    padding: 100px 75px;
    background-color: #263238;
}

#footer-link a {
    color: lightgrey;
}

#footer-bar {
    background-color: black;
    font-size: .9em;
    color: white;
    padding: 10px 50px;
}

#footer-bar p {
    margin: 0;
}


/* Home page */
#banner {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    background-color: #1531ab;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 70px;
    font-weight:300;
}

#banner-title {
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.2em;
    font-weight: 200;
}

#banner-text {
    line-height: 1.4em;
    padding: 20px 0 50px;
}

#banner-moto {
    font-size: 1.8rem;
}


#quick-links {
    background-color: #000c7b;
    color: white;
}

.list-group {
    border: none;
}

.list-group-item {
    background-color: inherit;
    color: inherit;
    height: 100px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

.list-group-item-action {
    transition: background-color linear 400ms;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: inherit;
    text-decoration: none;
    background-color: #1531ab;
}

.home-post-body {
    max-height: 150px;
    overflow: hidden;
}

/* End of home page*/
/*Blog post feature*/
.list-post-block {
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: #E3F2FD;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 250px;
    transition: box-shadow 500ms, background-color 500ms;
}

.list-post-block:hover {
    background-color: #BBDEFB;
}

.post-text > * {
    flex-shrink: 1;
}

.post-title {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
}

a.post-title {
    color: black;
    transition: color 300ms;
}

a.post-title:hover {
    color: black;
    text-decoration: none;
    color: blue;
}

.post-attr {
    font-style: italic;
    font-size: .8em;
    font-weight: 300;
}

.post-body {
    overflow: hidden;
}

a.post-image {
    transition: box-shadow 500ms;
    padding: 0;
}

a.post-image:hover {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(100,181,246,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(100,181,246,1);
    box-shadow: 0px 0px 3px 1px rgba(100,181,246,1);
    text-decoration: none;
}

.pseudo-img {
    background-color: #F5F5F5;
    color: #424242;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(224,224,224,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(224,224,224,1);
    box-shadow: inset 0px 0px 5px 1px rgba(224,224,224,1);
}

a.pseudo-img:hover {
    color: #424242;
}

#post-attr, #post-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#post-attr {
    padding: 10px 60px;
    font-style: italic;
}

#post-body {
    white-space: pre-wrap;
    padding-bottom: 20px;
}


/*End of Blog post feature*/


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 1200px) {
    #main-nav div, #main-nav a {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 1000px) {
    #main-nav div, #main-nav a {
        font-size: .9em;
    }
}

@media screen and (min-width: 921px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    #side-nav {
        display: none;
    }
    
}



#side-nav div ul {
    display: none;
    z-index: 100;
    font-size: .8em;
    padding: 0;
}

@media screen and (max-width: 920px) {
    #main-nav {
        display: none!important;
    }
    #side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        background-color: #263238;
        overflow-x: scroll;
        padding-top: 40px;
        transition: 0.5s;

        color: white;
    }

    #nav-collapse-closebtn {
        display: inline;
        position: absolute;
        top: 0;
        left: 210px;
        font-size: 36px;
    }



    #side-nav div, #side-nav a {
        position: relative;
        padding: 10px 20px;
        cursor: pointer;
    }

    #side-nav a {
        color: white;
    }

    #side-nav div:hover, #side-nav > a:hover {
        text-decoration: none;
    }

    #side-nav div ul li {
        list-style: none;
        padding: 7px 10px;
    }
}

@media screen and (max-width: 780px) {
    #main-search-block {
        display: none;
    }

    #side-search-block {
        display: block;
    }

    #nav_width_wrapper {
        padding: 0 50px;
    }
}

@media screen and (max-width: 600px) {
    #nav_width_wrapper {
        padding: 0 25px;
    }

    .navbar-brand img {
        display: none;
    }

    .navbar-brand span {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 10px;
        padding: 5px 0;
        color: white;
    }

    nav {
        padding-top: 30px!important;
        background-color: #1531ab!important;
    }

    .btn-outline-primary {
        color: white;
        border-color: white;
    }

    .top-bar {
        display: none;
    }

    #side-bar-donate, #side-bar-login {
        display: inline-block;
    }
}