@model IEnumerable<SensenHosp.Models.AlertPosts>
@{
    ViewData["Title"] = "AlertPostsViewComponent";
}


<div class="alert-container container" id="alert">
    <div class="alert-tittle">
        <ul>
            @foreach (var item in Model)
            {
                @if (item.AlertStatus == "Active")
                {
                    <script>
                        document.getElementById("alert").style.display = "block";
                    </script>
                    <li>@Html.DisplayFor(modelItem => item.AlertTitle) &nbsp <a href="/AlertPosts/Details/@item.ID">Read More</a></li>
                    @*<li>@Html.DisplayFor(modelItem => item.AlertTitle) &nbsp <a asp-action="ReadMore" asp-route-id="@item.ID">Read More</a></li>*@
                }
                
            }
        </ul>
    </div>
</div>

@*else
    {
        <script>
            document.getElementById('alert').style.display = "none";
        </script>
    }*@
