@model SensenHosp.Models.ViewModels.ApplicantEdit

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Applicant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="career_id" value="@ViewData["CareerID"]" class="form-control" />
            <div class="form-group">
                <label  class="control-label">First Name: </label>
                <input name="fname" class="form-control" />
               
            </div>
            <div class="form-group">
                <label for="lname" class="control-label">Last Name: </label>
                <input name="lname" class="form-control" />
                
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email: </label>
                <input name="email" class="form-control" />

            </div>
            <div class="form-group">
                <label for="contact" class="control-label">Contact: </label>
                <input name="contact" class="form-control" />

            </div>
            <div class="form-group">
                <input type="file" name="file" id="file" />

            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
