@{
    ViewData["Title"] = "Home Page";
}

<div class="" id="banner">
    <div id="banner-title">Patients<br />Portal</div>
    <div id="banner-text">
        <div id="banner-moto">"Caring People, Caring for People"</div>
        <div id="banner-text-text">A convenient way to connect.<br />Register now to our patient portal</div>
    </div>
    <div id="patient-login-link">
        <a href="#" class="btn btn-outline-light">LOGIN</a>
        <a href="#" class="btn btn-outline-light">REGISTER</a>
    </div>
</div>
<div class="list-group d-flex flex-row" id="quick-links">
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Find a Doctor</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Request an Appointment</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Patient Payments</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Health Services</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Contact Us</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">FAQs</a>
</div>
<div id="blog">
    <h2 class="display-4 text-center">Blog</h2>
</div>