@model SensenHosp.Models.Contact

@{
    ViewData["Title"] = "Delete";
}

@*<h2>Delete</h2>*@
<h2 class="heading heading-h2">Admin Dashboard</h2>
<h3 class="heading">Contact Us - Messages</h3>

<h4 class="heading">Are you sure you want to delete this?</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <a asp-action="Index"><i class="fas fa-arrow-left">&nbsp;Back to List</i></a>  |
    <input type="submit" value="Delete" class="btn btn-default" />
</form>
